<div class="col-xs-3">
  <h2>User Profile</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
  <table class="table">
    <tr>
      <th>name</th><th><%= user.name %></th>
    </tr>
    <tr>
      <th>introductin</th><th><%= user.introduction %></th>
    </tr>
  </table>
    <%= link_to"",edit_user_path(user),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>

  <h2>New Book</h2>
  <%= form_for (new_book) do |f| %>

  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>

  <%= f.label :body, "Opinion" %>
  <%= f.text_field :body %>

  <%= f.submit 'Create Book',class: "btn btn-primary col-xs-12" %>

  <% end %>
</div>
